In [1]:
import pandas as pd
import numpy as np
from statsmodels.api import OLS
import matplotlib.pyplot as plt
import datetime

In [46]:
df_volume = pd.read_csv('df_volume.csv')
df_volume = df_volume.rename(columns = {"ID":"id_serveur","name":"name_serveur", "date":"date_enreg"})
df_volume

,id_serveur,name_serveur,pool,offre,capacity,used_capacity,date_enreg,origine,typologie,client
0,0,INFS_19DC1_T0M_TEST_EXLIDAT1_01,SDC3_T0,T0,10.0,9.830000,2018-10-03,ibm,DAT,INF
1,0,INFS_19DC1_T0M_TEST_EXLIDAT1_01,SDC1_T0,T0,10.0,9.830000,2018-10-03,ibm,DAT,INF
2,1,CMCN_19DC1_T2S_ORACMCF_DATA_FG1_04,SDC1_T2,T2,200.0,44.460000,2018-10-03,ibm,DAT,CMC
3,2,CMCN_19DC1_T2S_ORACMCF_DATA_FG1_05,SDC1_T2,T2,200.0,44.470000,2018-10-03,ibm,DAT,CMC
4,3,INFS_19DC1_T2M_TEST_EXLIDAT1_01,SDC3_T2,T2,10.0,10.530000,2018-10-03,ibm,DAT,INF
...,...,...,...,...,...,...,...,...,...,...
561251,79,SIGN_06DC3_T2S_SIGS_01_DS_02,mutapsan06,T2,5120.0,4196.754883,2020-11-12,3par,VIR,SIG
561252,73,SNIN_06T2S_ORASNI_BACKUP_01,mutapsan06,T2,45.0,42.944336,2020-11-12,3par,DAT,SNI
561253,69,SNIN_06T2S_ORASNI_DATA_FG2_01,mutapsan06,T2,200.0,169.058594,2020-11-12,3par,DAT,SNI
561254,70,SNIN_06T2S_ORASNI_DATA_FG2_02,mutapsan06,T2,200.0,170.046875,2020-11-12,3par,DAT,SNI
561255,67,SNIN_06T2S_ORASNI_VOT_01_SDC3,mutapsan06,T2,0.5,0.000977,2020-11-12,3par,DAT,SNI

In [47]:
import pymysql
# Connect to the database
connection = pymysql.connect(host='localhost',
                         user='root',
                         password='Ludi24',
                         db='cp3_stockage')
# create cursor
cursor = connection.cursor()

In [48]:
# creating column list for insertion
cols = "`,`".join([str(i) for i in df_volume.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in df_volume.iterrows():
    sql = "INSERT INTO `table_data_stockage` (`" + cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()

In [40]:
# rÃ©cupÃ©ration des noms de fichiers rÃ©cupÃ©rÃ©s et insertion dans la table table_fichiers_stockage
df_fichiers_stockage = pd.read_csv("df_fichiers_stockage.csv")
df_fichiers_stockage

                                  nom_fichier plateforme
0     20181003_mutsapsan019_lssevdiskcopy.txt        IBM
1     20181004_mutsapsan019_lssevdiskcopy.txt        IBM
2     20181005_mutsapsan019_lssevdiskcopy.txt        IBM
3     20181006_mutsapsan019_lssevdiskcopy.txt        IBM
4     20181007_mutsapsan019_lssevdiskcopy.txt        IBM
...                                       ...        ...
2770     20201110_mutapsan06_showvv-space.txt       3par
2771     20201111_mutapsan05_showvv-space.txt       3par
2772     20201111_mutapsan06_showvv-space.txt       3par
2773     20201112_mutapsan05_showvv-space.txt       3par
2774     20201112_mutapsan06_showvv-space.txt       3par

[2775 rows x 2 columns]

In [41]:
# creating column list for insertion
cols = "`,`".join([str(i) for i in df_fichiers_stockage.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in df_fichiers_stockage.iterrows():
    sql = "INSERT INTO `table_fichiers_stockage` (`" + cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"

    cursor.execute(sql, tuple(row))

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()

In [49]:
connection.close()